/* Global styles */ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #ece1d8;
    color: #333;
    line-height: 1.6;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: #a2d5d8;
    color: #fff;
    padding: 2rem 0;
    text-align: center;
}

header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

header p {
    font-size: 1.2rem;
}

/* Menu de navigation */
nav {
    margin-top: 1rem;
}

nav ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Flexbox pour aligner les éléments côte à côte */
    justify-content: center; /* Centrer les éléments horizontalement */
}

nav ul li {
    margin: 0 20px; /* Espacement entre les liens du menu */
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.2rem;
    padding: 5px 10px;
    transition: background-color 0.3s ease;
}

nav ul li a:hover {
    background-color: #333;
    border-radius: 5px;
}

/* Style des Sections */
section {
    padding: 2rem 0;
    margin-bottom: 2rem;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

section h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

ul {
    list-style-type: none;
}

ul li {
    margin-bottom: 0.5rem;
}

a {
    color: #4CAF50;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #a2d5d8;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

footer p {
    font-size: 1rem;
}

/* Responsive Design */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    header h1 {
        font-size: 2.5rem;
    }

    section h2 {
        font-size: 1.8rem;
    }

    section h3 {
        font-size: 1.4rem;
    }

    nav ul {
        flex-direction: column; /* Passe en vertical sur petits écrans */
        align-items: center;
    }

    nav ul li {
        margin: 10px 0; /* Espacement vertical sur les petits écrans */
    }
}
